<div class="footer">
    <div class="row">
        <div class="col-md-2">
            <img src="../../assets/images/marvel-m.png">
        </div>
        <div class="col-md-1">
            <ul>
                <li>ABOUT US</li>
                <li>HELP/FAQS</li>
                <li>CAREERS</li>
                <li>INTERNSHIPS</li>
            </ul>
        </div>
        <div class="col-md-6">
            <a href="https://www.disney.com/" target="_blank">
            <div class="row">
                <div class="col-2">
                    <img src="../../assets/images/disneylogo.jpg" alt="">
                </div>
                <div class="col-10">
                    <h6>WALT DISNEY</h6>
                    <P>Marvel owned ny Disney checkout its official site</P>
                </div>   
            </div>
            </a>
            <a href="https://www.marvel.com/" target="_blank">
            <div class="row">
                <div class="col-2">
                    <img src="../../assets/images/marvellogo.jpg" alt="">
                </div>
                <div class="col-10">
                    <h6>MARVEL STUDIOS</h6>
                    <P>Check the official site of Marvel's</P>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <h6>FOLLOW MARVEL</h6>
            <div class="media-images">
                <div class="upper-level-media">
                    <a href="https://www.facebook.com/Marvel/" target="_blank"><img src="../../assets/images/facebook.png" alt=""></a>
                    <a href="http://instagram.com/marvel" target="_blank"><img src="../../assets/images/instagram.png" alt=""></a>
                    <a href="https://twitter.com/marvel" target="_blank"><img src="../../assets/images/twitter.png" alt=""></a>
                    <a href="https://marvelentertainment.tumblr.com/" target="_blank"><img src="../../assets/images/tumblr.png" alt=""></a>
                </div>
                <div class="lower-level-media">
                    <a href="https://www.snapchat.com/add/marvelhq" target="_blank"><img src="../../assets/images/snapchat.png" alt=""></a>
                    <a href="http://youtube.com/marvel" target="_blank"><img src="../../assets/images/youtube.png" alt=""></a>
                    <a href="https://www.pinterest.com/marvelofficial" target="_blank"><img src="../../assets/images/pinterest.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>