<div class="dropdown"> 
    <div class="row">
        <div class="col-sm-7">
            <div class="heading">
                Marvel Comics 
            </div>
        </div>
        <div class="col-sm-5">
            <div class="search-box">
                <input type="text" placeholder="Search" id="search-box" name="item" ngModel #item="ngModel">
                <span id="search" (click)="searchItems(item)">
                    <img src="../../assets/images/search-icon.png">
                </span>  
            </div>
        </div>
    </div>
</div>
<div class="movies" *ngFor="let comic of filteredArray">
    <div class="movie-name">
        {{comic.series}} <span>({{ comic.interval }})</span>
    </div>
    <div class="row">
        <div class="col-sm-3" *ngFor="let comics of comic.comics">
            <div class="comic-box">
                <img [src]="comics.image_url" alt="">
            </div>
            <div class="content">
                <div class="inner-content">
                    <h6>{{ comics.name }}</h6>
                    <p>{{ comics.release_data }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="noresult" [ngStyle]="{display: noResult}">
    <h1>No Result Found</h1>
</div>