<div class="dropdown"> 
    <div class="row">
        <div class="col-sm-7">
            <div class="heading">
                Marvel Comics 
            </div>
        </div>
        <div class="col-sm-5">
            <div class="search-box">
                <input type="text" placeholder="Search" id="search-box" name="item" ngModel #item="ngModel">
                <span id="search" (click)="searchItems(item)">
                    <img src="../../assets/images/search-icon.png">
                </span>  
            </div>
        </div>
    </div>
</div>
<div class="movies" *ngFor="let comic of comics">
    <div class="movie-name">
        Spiderman <span>(2013-19)</span>
    </div>
    <div class="row">
        <div class="col-sm-1">
            
        </div>
        <div class="col-sm-2">
            <div class="single-movie">
                <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            </div>
            <div class="content">
                <h6>Spiderman Homecoming</h6>
                <p>26.02.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="single-movie">
                <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            </div>
            <div class="content">
                <h6>Spiderman Homecoming</h6>
                <p>26.02.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="single-movie">
                <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            </div>
            <div class="content">
                <h6>Spiderman Homecoming</h6>
                <p>26.02.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="single-movie">
                <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            </div>
            <div class="content">
                <h6>Spiderman Homecoming</h6>
                <p>26.02.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="single-movie">
                <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            </div>
            <div class="content">
                <h6>Spiderman Homecoming</h6>
                <p>26.02.2019</p>
            </div>
        </div>
        <div class="col-sm-1">
            
        </div>
        <div class="col-sm-1">
            
        </div>
        <div class="col-sm-2">
            <div class="single-movie">
                <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            </div>
            <div class="content">
                <h6>Spiderman Homecoming</h6>
                <p>26.02.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="single-movie">
                <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            </div>
            <div class="content">
                <h6>Spiderman Homecoming</h6>
                <p>26.02.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="single-movie">
                <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            </div>
            <div class="content">
                <h6>Spiderman Homecoming</h6>
                <p>26.02.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="single-movie">
                <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            </div>
            <div class="content">
                <h6>Spiderman Homecoming</h6>
                <p>26.02.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="single-movie">
                <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            </div>
            <div class="content">
                <h6>Spiderman Homecoming</h6>
                <p>26.02.2019</p>
            </div>
        </div>
        <div class="col-sm-1">
            
        </div>
    </div>
</div>