.disable-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: rgb(0, 0, 0);
    opacity: 0.6;
    top: 0%;
    cursor: not-allowed;
}
.btn2 {
    position: absolute;
    right: 1%;
    top: 2%;
    z-index: 2;
}
.btn2 button {
    opacity: 0.5;
    padding: 10px 35px;
    border: none;
    background: none;
    color: rgb(255, 255, 88);
    border: 1px solid rgb(255, 255, 88);
    cursor: pointer;
}
.btn2 button:hover {
    opacity: 1;
}
.carousel-container {
    z-index: 1;
    width: 100%;
    // height: 30rem;
    justify-content: space-between;
    background: #000;
}
.carousel-container .carousel-inner img {
    width: 100%;
    height: 29rem;
    opacity: 0.5;
}
.carousel-container .carousel-inner .carousel-caption {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: rgb(255, 255, 88);
}
.signup-container {
    margin: 0;
    width: 100%;
    // height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../../assets/images/allheros1.jpg');
    padding: 0rem 30%;
    display: block;
    height: 0rem;
    opacity: 0;
    border: 1px solid black;
    padding: 0rem 30%;
}
.signup-container .inner-form input {
    background: rgb(231, 231, 231);
    margin: 1rem 0px;
}
.signup-container .inner-form input.ng-invalid.ng-touched {
    border: 1px solid rgb(255, 54, 54);
}
.signup-container .inner-form .btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.signup-container .inner-form p {
    text-align: center;
    color: rgb(22, 150, 255);
    text-decoration: underline;
    cursor: pointer;
}
.signup-container .inner-form p:hover {
    color: rgb(79, 176, 255)
}
.row .col-lg-4 {
    padding: 0;
}
.row .upcoming-movie .movie-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0px;
}
.row .upcoming-movie .movie-image img {
    // width: 12rem;
    height: 20rem;
    overflow: hidden;
}
.row .upcoming-movie .content {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.row .upcoming-movie .content h6 {
    font-size: 23px;
}
.row .upcoming-movie .book-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
.row .upcoming-movie .book-button button {
    border: none;
    color: #fff;
    background: rgb(219, 33, 33);
    padding: 10px 20px;
    font-size: 15px;
}
.about-marvel {
    width: 100%;
    padding: 3rem 5rem;
}
.upcoming-movies {
    width: 100%;
    padding: 2rem 3rem;
    background: rgb(43, 43, 43);
}
.upcoming-movies .heading-movies {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: rgb(224, 62, 62);
    font-weight: 800;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
}
.upcoming-movies .col-sm-2 {
    padding: 0px 1rem;
    padding-top: 3px;
    overflow: hidden;
    color: #fff;
}
.upcoming-movies .col-sm-2:hover {
    padding-top: 0px;
    padding-bottom: 3px;
    color: rgb(255, 66, 66);
    opacity: 0.8;
}
.upcoming-movies .col-sm-2 img {
    border: 2px solid white;
    width: 100%;
    overflow: hidden;
}
.upcoming-movies .col-sm-2 .content {
    margin-top: 1rem;
}
.directors {
    width: 100%;
    padding: 3rem 5rem;
}
.directors .content-img {
    width: 100%;
    margin-bottom: 1rem;
}
.directors .content-img .col-sm-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.directors .content-img .col-sm-9 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.directors .content-img .col-sm-9 h4 {
    margin-bottom: 2rem;
}
.directors .content-img img {
    width: 12rem;
    height: 12rem;
    border: 3px solid #000;
    padding: 2px;
    border-radius: 50%;
}
.directors .statement {
    margin-bottom: 2rem;
}
.directors .statement p {
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    .btn2 {
        top: 5.5%;
    }
    .btn2 button {
        opacity: 1;
        padding: 3px 10px;
        border: none;
        cursor: pointer;
    }
    .signup-container {
        padding: 0rem 1rem;
    }
    .signup-container .inner-form {
        margin: 0;
        width: 100%;
    }
    .directors {
        padding: 2rem 1rem;
    }    
    .directors .content-img .col-sm-9 h4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .carousel-container .carousel-inner img{
        height: 12rem;
    }
    .carousel-container .carousel-inner .carousel-caption {
        font-size: 16px;
        line-height: 0.5;
    }
    .carousel-container .carousel-inner .carousel-caption h1 {
        font-size: 20px;
    }
    .about-marvel {
        width: 100%;
        padding: 2rem 1rem;
    }
}