<div class="carousel-container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/images/carousel1.jpg" alt="First slide">
            <div class="carousel-caption">
                <div class="content">
                    <h1>Upcoming Movie</h1>
                    <p>Black Widow</p>
                </div>
            </div>
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/carousel2.jpg" alt="Second slide">
            <!-- <div class="carousel-caption">
                <p><b>Spider-Man</b> is Out of <b>Marvel Cinematic Universe</b></p>
            </div> -->
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/carousel3.jpg" alt="Third slide">
            <div class="carousel-caption">
                <div class="content">
                    <h1>Spider-Man</h1>
                    <p>is Out of</p>
                    <h1>Marvel Cinematic Universe</h1>
                </div>
            </div>
            </div>
        </div>
    </div> 
</div>
<div class="about-marvel">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Marvel Studios, LLC (originally 
        known as Marvel Films from 1993 to 1996) is an American film and 
        television studio that is a subsidiary of The Walt Disney Studios. Marvel Studios is best known for the 
        production of the Marvel Cinematic Universe films, which has grossed over $22.5 billion at the global 
        box office as of 2019, with the film Avengers: Endgame grossing $2.8 billion worldwide.
        <br><br>
        Marvel Studios has released 23 films since 2008 within the Marvel Cinematic Universe, from Iron Man 
        (2008) to Spider-Man: Far From Home (2019). These films all share continuity with each other, along 
        with the One-Shots produced by the studio and the television shows produced by Marvel Television.
        <br><br>
        In addition to the Marvel Cinematic Universe, Marvel Studios was also involved with the production of 
        other Marvel-character film franchises that have exceeded $1 billion in North American box office 
        revenue: the X-Men and Spider-Man multi-film franchises.
        <br><br>
        Marvel Studios is also developing television series which will air on Disney+.
    </p>
</div>
<div class="upcoming-movies">
    <div class="heading-movies">
        <h3>UPCOMING RELEASE</h3>
    </div>
    <div class="row">
        <div class="col-sm-2" *ngFor="let movies of upcomingMovies">
            <img [src]="movies.image_url" alt="">
            <div class="content">
                <h6>{{ movies.name }}</h6>
                <p>{{ movies.release_date }}</p>
            </div>
        </div>
        <!-- <div class="col-sm-2">
            <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            <div class="content">
                <h6>Spider-Man</h6>
                <p>20.06.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            <div class="content">
                <h6>Spider-Man</h6>
                <p>20.06.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            <div class="content">
                <h6>Spider-Man</h6>
                <p>20.06.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            <div class="content">
                <h6>Spider-Man</h6>
                <p>20.06.2019</p>
            </div>
        </div>
        <div class="col-sm-2">
            <img src="../../assets/images/spiderman-homecoming.jpg" alt="">
            <div class="content">
                <h6>Spider-Man</h6>
                <p>20.06.2019</p>
            </div>
        </div> -->
    </div>
</div>
<div class="directors">
    <div class="content-img">
        <div class="row">
            <div class="col-sm-3">
                <img [attr.src]="kevinFeige" alt="">
            </div>
            <div class="col-sm-9">
                <div class="quotes">
                    <h4>President of Marvel Studios</h4>
                    <p>
                        "I am thrilled that Spidey's journey in the MCU will continue, 
                        and I and all of us at Marvel Studios are very excited that we get to keep working on it."
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="statement">
        <p>
            Kevin Feige (born June 2, 1973) is an American film producer who has been the president 
            of Marvel Studios since 2007. The films he has produced have a combined worldwide box office gross of 
            over $26.8 billion. Feige is a member of the Producers Guild of America. In 2019, he was nominated for the 
            Academy Award for Best Picture for producing Black Panther, the first superhero film ever to receive a Best 
            Picture nomination, as well as the first film in the Marvel Cinematic Universe to win an Academy Award, 
            and became chief creative officer of Marvel Entertainment. Avengers: Endgame, which he produced, is 
            currently the highest-grossing film of all time since 2019.
        </p>
    </div>
    <hr style="margin: 1rem 0rem;">
    <div class="content-img">
        <div class="row">
            <div class="col-sm-9">
                <div class="quotes">
                    <h4>Marvel Comic Writter</h4>
                    <p>
                        "The pleasure of reading a story and wondering what will come next for the hero is a pleasure 
                        that has lasted for centuries and, I think, will always be with us. Sooner or later, if man is 
                        ever to be worthy of his destiny, we must fill our hearts with tolerance."
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <img [attr.src]="stanLee" alt="">
            </div>
        </div>
    </div>
    <div class="statement">
        <p>
            Stan Lee (born Stanley Martin Lieber, December 28, 1922 – November 12, 2018) was an American 
            comic book writer, editor, publisher, and producer. He rose through the ranks of a family-run 
            business to become Marvel Comics' primary creative leader for two decades, leading its expansion 
            from a small division of a publishing house to a multimedia corporation that dominated the comics 
            industry.
        </p>
    </div>
</div>