<div class="dropdown"> 
    <div class="row">
        <div class="col-sm-7">
            <div class="heading">
                Marvel Movies 
            </div>
        </div>
        <div class="col-sm-5">
            <div class="search-box">
                <input type="text" placeholder="Search" id="search-box" name="item" ngModel #item="ngModel">
                <span id="search" (click)="searchItems(item)">
                    <img src="../../assets/images/search-icon.png">
                </span>  
            </div>
        </div>
    </div>
</div>
<div class="movies" *ngFor="let series of filteredArray">
    <div class="movie-name" >
        {{ series.series}} <span>{{ series.interval }}</span>
    </div>
    <div class="row">
        <div class="col-sm-1">
            
        </div>
        <div class="col-sm-2" *ngFor="let movie of series.movies">
            <div class="single-movie">
                <img [src]="movie.image_url" class="img-fluid" alt="">
            </div>
            <div class="content">
                <h6>{{ movie.name }}</h6>
                <p>{{ movie.release_date }}</p>
            </div>
        </div>
    </div>
</div>
<div class="noresult" [ngStyle]="{display: noResult}">
    <h1>No Result Found</h1>
</div>