.dropdown{
    width: 100%;
    margin-bottom: 2rem;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)),url('../../assets/images/allheros1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dropdown .row {
    margin: 0px 5px;
}
.dropdown .col-sm-7 {
    font-size: 70px;
    color: rgb(199, 19, 19);
    font-weight: 800;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
}
.dropdown .col-sm-5 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 1rem;
    padding-right: 2rem;
}
.dropdown .col-sm-5 .search-box {
    // display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown .col-sm-5 .search-box input {
    padding: 5px 10px;
    border: none;
    width: 0rem;
    height: 2rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    
}
.dropdown .col-sm-5 .search-box input:focus {
    outline: none;
}
.dropdown .col-sm-5 .search-box span{
    padding: 3px;
    border-radius: 7px;
    cursor: pointer;
}
.dropdown .col-sm-5 .search-box span img {
    width: 2rem;
    height: 2rem;
}
.movies {
    margin-bottom: 1rem;
}
.movies .movie-name {
    width: 100%;
    font-size: 30px;
    margin-left: 1rem;
    border-left: 2px solid rgb(255, 153, 0);
    padding-left: 5px;
}
.movies .movie-name span{
    font-size: 20px;
}
.movies .row {
    width: 100%;
}
.movies .row .col-sm-2 {
    padding: 0;
}
.movies .row .col-sm-2 .single-movie {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    
}
.movies .row .col-sm-2 .single-movie:hover {
    padding-top: 0px;
    padding-bottom: 5px;
}
.movies .row .col-sm-2 .single-movie:hover img {
    opacity: 0.9;
}
.movies .row .col-sm-2 .single-movie img {
    width: 13rem;
    height: 18rem;
}
.movies .row .col-sm-2 .content {
    padding: 0px 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}
.movies .row .col-sm-2 .content h6 {
    font-size: 18px;
}
.movies .row .col-sm-2 .content:hover {
    color: rgb(219, 33, 33);
}
.noresult{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noresult h1 {
    color: rgb(94, 94, 94);
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .movies .row .col-sm-2 .single-movie img {
        width: 10rem;
        height: 15rem;
    }
}
@media screen and (max-width: 900px) {
    .movies .row .col-sm-2 .single-movie img {
        width: 6rem;
        height: 8rem;
    }
}

@media screen and (max-width: 500px) {
    .dropdown .col-sm-7 {
        font-size: 40px;
        text-align: center;
    }
    .movies .row .col-sm-2 .single-movie img {
        width: 13rem;
        height: 18rem;
    }
    .movies .row .col-sm-2 .content {
        margin-left: 2rem;
    }
    .movies .row .col-sm-2 {
        border-bottom: 3px solid rgba(255, 204, 38, 0.349);
    }
}