<div class="dropdown"> 
    <div class="row">
        <div class="col-sm-7">
            <div class="heading">
                Marvel Characters 
            </div>
        </div>
        <div class="col-sm-5">
            <div class="search-box">
                <input type="text" placeholder="Search" id="search-box" name="item" ngModel #item="ngModel">
                <span id="search" (click)="searchItems(item)">
                    <img src="../../assets/images/search-icon.png">
                </span>  
            </div>
        </div>
    </div>
</div>

<!-- Loading-Spinner -->
<app-loading-spinner style="
    display: flex;
    justify-content: center;
    align-items: center;" *ngIf="loadingSpinner">
</app-loading-spinner>

<div class="characters">
    <div class="row" id="id1" *ngFor="let character of filteredArray">
        <div class="col-md-3">
            <img [src]="character.image_url[i]">
        </div>
        <div class="col-md-9">
            <div class="hero-content">
                <h6>{{ character.name }}</h6>
                <p>By : <b>{{ character.roled_by }}</b></p>
                <p>Movies : <span *ngFor="let movie of character.movies "><b class="bracket">[</b>{{ movie }}<b class="bracket">]</b> </span></p>
            </div>
        </div>  
    </div>
    <!-- <div class="row">
        <div class="col-md-3">
            <img [src]="getImage">
        </div>
        <div class="col-md-9">
            <div class="hero-content">
                <h6>GROOT</h6>
                <p>Vin Deisel & Kevin Michael Richardson</p>
                <p>Guradian of Galaxy & Avengers</p>
            </div>
        </div>
    </div>     -->
</div>
<div class="noresult" [ngStyle]="{display: noResult}">
    <h1>No Result Found</h1>
</div>