<div class="dropdown"> 
    <div class="row">
        <div class="col-sm-7">
            <div class="heading">
                Marvel Characters 
            </div>
        </div>
        <div class="col-sm-5">
            <div class="search-box">
                <input type="text" placeholder="Search" id="search-box" name="item" ngModel #item="ngModel">
                <span id="search" (click)="searchItems(item)">
                    <img src="../../assets/images/search-icon.png">
                </span>  
            </div>
        </div>
    </div>
</div>
<div class="characters">
    <div class="row" id="id1">
        <div class="col-md-3">
            <img [src]="getImage">
        </div>
        <div class="col-md-9">
            <div class="hero-content">
                <h6>GROOT</h6>
                <p>By : <b>Vin Deisel & Kevin Michael Richardson</b></p>
                <p>Movies : Guradian of Galaxy & Avengers</p>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-3">
            <img [src]="getImage">
        </div>
        <div class="col-md-9">
            <div class="hero-content">
                <h6>GROOT</h6>
                <p>Vin Deisel & Kevin Michael Richardson</p>
                <p>Guradian of Galaxy & Avengers</p>
            </div>
        </div>
    </div>    
</div>